# markdown
## markdown
### markdown
#### markdown

- python
    - python 1
    - python 2
        - python 1
        - python 2
- *python*
- **python**
- ***python***

# print function():

- it allows to print specific text or message

In [8]:
print("hello world")

hello world

In [6]:
print("HELLO,WORLD")

HELLO,WORLD

In [7]:
print("ONE","TEWO","THREE")

ONE TEWO THREE

# Variables
- it allows to store some value

In [10]:
a=10 #single variable assaigned to a value

In [11]:
a

10

In [12]:
a=b=c=10 #multiple variable assaign to a single value

In [13]:
print(a,b,c)

10 10 10

In [14]:
a,b,c=10,20,30 #multiple variable assaign multiple values

In [15]:
print(a,b,c)

10 20 30

# Data type
- it tells about which type of data
- int
- float
- string

In [16]:
# int
a=5
print(a)
print(type(a))

5
<class 'int'>

In [17]:
# float
a= 1.2
print(a)
print(type(a))

1.2
<class 'float'>

In [18]:
# string
a="python"
print(type(a))

<class 'str'>

In [19]:
# string
a="python"
print(a)
print(type(a))

python
<class 'str'>

# Data conversation
- it converts one data type to another data type

In [23]:
n=10
print(n,type(n))
f=float(n)
print(f,type(f))
s=str(n)
print(s,type(s))

10 <class 'int'>
10.0 <class 'float'>
10 <class 'str'>

In [26]:
f=1.3
print(f,type(f))
i=int(f)
print(i,type(i))
s=str(f)
print(s,type(s))

1.3 <class 'float'>
1 <class 'int'>
1.3 <class 'str'>

In [28]:
s="python"
print(s,type(s))
f=float(s)
print(f,type(f))

python <class 'str'>

ValueError: could not convert string to float: 'python'

In [29]:
s="123456"
print(s,type(s))
f=float(s)
print(f,type(f))
i=int(s)
print(s,type(s))

123456 <class 'str'>
123456.0 <class 'float'>
123456 <class 'str'>

In [54]:
a="Name","is","james"
print(a,type(a))

['Name', 'is', 'james'] <class 'list'>

In [47]:
print(a,type(a))

('Name', 'is', 'james') <class 'tuple'>

# Input Function
- takes an input from the user

In [43]:
r=int(input("enter radius of circle"))
area=3.14*r**2
print(area)

enter radius of circle5
78.5

In [49]:
a=int(input("enter 1st value"))
b=int(input("enter 2nd value"))
s=a+b
m=a*b
d=a/b
print("sum =",s,"\n","multiplication =",m,"\n","division =",d)

enter 1st value15
enter 2nd value3
sum = 18
 multiplication = 45
 division = 5.0

In [50]:
y=int(input("Enter year"))
print("year",y+50)

Enter year2021
year 2071

In [51]:
n =int(input()) 
n = n+50
print(n)

1586
1636